<!doctype html>
<html lang="cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/owl.carousel.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/owl.theme.default.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/jquery.fancybox.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="fonts/icomoon/style.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="fonts/flaticon/font/flaticon.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/aos.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

{#导航条#}
<nav class="site-nav dark js-site-navbar mb-5 site-navbar-target">
    <div class="container">
        <div class="site-navigation">
            <a href="{{ url_for('front.index') }}" class="logo m-0 float-left">校园论坛<span
                    class="text-primary">.</span></a>

            <ul class="js-clone-nav d-none d-lg-inline-block site-menu float-left">
                <li class="active"><a href="{{ url_for('post.post_list') }}" class="nav-link">主页</a></li>
                <li class="has-children">
                    <a href="#" class="nav-link">板块</a>
                    <ul class="dropdown">
                        {% for board in boards %}
                            <li><a href="{{ url_for('post.post_list', board=board.id) }}"
                                   class="nav-link">{{ board.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ url_for('advert.ad_index') }}" class="nav-link">店铺推荐</a></li>
                <li><a href="{{ url_for('message.index') }}" class="nav-link">消息中心</a></li>
            {% if g.user %}
                <li><a href="{{ url_for('chat.index') }}" class="nav-link">私信</a></li>
            {% endif %}
            {% if g.user and g.user.role.permissions %}
                <li><a href="{{ url_for('cms.cms_index') }}" class="nav-link">管理中心</a></li>
            {% endif %}

            </ul>

            <ul class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right">
                {#                <li class="cta-button-outline"><a href="{{ url_for('user.login') }}">登录</a></li>#}
                {#                <li class="cta-primary"><a href="{{ url_for('user.register') }}">注册</a></li>#}
                {% if g.user %}
                    <li class="cta-button-outline"><a href="{{ url_for('user.logout') }}">退出登录</a></li>
                    <li class="cta-button-outline"><a href="{{ url_for('user.profile', user_id=g.user.id) }}">个人中心</a>
                    </li>
                    <li class="cta-primary"><a href="{{ url_for('post.add_post') }}">发布帖子</a></li>
                {% else %}
                    <li class="cta-button-outline"><a href="{{ url_for('user.login') }}">登录</a></li>
                    <li class="cta-primary"><a href="{{ url_for('user.register') }}">注册</a></li>
                {% endif %}

            </ul>


            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block dark d-lg-none"
               data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>

        </div>
    </div>
</nav>
{% block body %}

{% endblock %}
    <div class="site-footer">

        <div class="footer-dots"></div> <!-- /.footer-dots -->
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>关于这个论坛<span class="text-primary">.</span></h3>
                        <p>主论坛部分皆使用MIT协议.</p>
                    </div> <!-- /.widget -->
                    <div class="widget">
                        <h3>其它</h3>
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li><a href="#"><span class="icon-dribbble"></span></a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-2 ml-auto">
                    <div class="widget">
                        <h3>Projects</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-2">
                    <div class="widget">
                        <h3>Services</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="#">Built for Developers</a></li>
                            <li><a href="#">Modern Design</a></li>
                            <li><a href="#">Building Stunning Websites</a></li>
                            <li><a href="#">Bring Ideas To Life</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->


                <div class="col-lg-3">
                    <div class="widget">
                        <h3>Quick Contact</h3>
                        <address>43 Raymouth Rd. Baltemoer, London 3910</address>
                        <ul class="list-unstyled links mb-4">
                            <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                            <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                            <li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

            </div> <!-- /.row -->

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        . All Rights Reserved. &mdash; Designed with love by <a
                                href="https://untree.co">Untree.co</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">正在加载中~ o(*￣▽￣*)ブ...</span>
        </div>
    </div>
<script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.easing.1.3.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.animateNumber.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.fancybox.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/aos.js') }}"></script>

<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
{% block js %}

{% endblock %}

</body>
</html>