{% extends "front/base.html" %}

{% block head %}{% endblock %}
{% block title %}校园论坛{% endblock %}



{% block body %}
    <div class="untree_co-hero pb-0" id="home-section">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="dots"></div>
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center mb-5">
                            <h1 class="heading" data-aos="fade-up" data-aos-delay="0">
                                {{ title }}
                                <span class="d-block"><a href="#">校园论坛</a></span></h1>
                        </div>
                    </div>
                    <div class="row align-items-center">

                        <div class="col-lg-4">
                            <div class="intro">

                                <div class="excerpt" data-aos="fade-up" data-aos-delay="100">
                                    <span class="caption">Welcome to BBS</span>
                                    <h2 class="font-weight-bold">享受校园生活</h2>
                                    <p>与同学, 老师们一起探索校园生活</p>
                                </div> <!-- /.excerpt -->
                                <p data-aos="fade-up" data-aos-delay="200">
                                    <a href="{{ url_for('user.register') }}" class="btn btn-primary smoothscroll mr-1">开始</a>
                                    <a href="https://www.tccu.edu.cn" class="btn btn-outline-primary smoothscroll"
                                       target="_blank">学校官网</a>
                                </p>
                            </div>

                        </div> <!-- /.col-lg-5 -->
                        <div class="col-lg-8">
                            <div class="illustration">
                                <img src="{{ url_for('static', filename='images/front/index/bg.jpg') }}" alt="Image"
                                     class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->
        <!-- <div class="illustration">

        </div> -->
    </div> <!-- /.untree_co-hero -->

    <div class="untree_co-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                    <span class="caption">校园特色</span>
                    <h2 class="heading">虚空落泉千仞直，雷奔入江不暂息。</h2>
                    <p>——徐凝 《庐山瀑布》</p>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service horizontal d-flex">
                        <div class="service-icon color-1 mb-4">
                            <svg class="bi bi-app-indicator" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"/>
                                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            </svg>
                        </div> <!-- /.icon -->
                        <div class="service-contents">
                            <h3>丰富的校园活动</h3>
                            <p>在新的校园生活中, 你不仅可以享受到前所未有的自由, 还有社团, 比赛, 组织等着新入校园的你.</p>
                            <p><a href="#" class="read-more">Learn More</a></p>
                        </div> <!-- /.service-contents-->
                    </div> <!-- /.service -->
                </div>

                <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service horizontal d-flex">
                        <div class="service-icon color-2 mb-4">
                            <svg class="bi bi-arrow-repeat" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                                <path fill-rule="evenodd"
                                      d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                            </svg>
                        </div> <!-- /.icon -->
                        <div class="service-contents">
                            <h3>致更新换面的你</h3>
                            <p>在经历艰难险阻的高考后, 你将在新学校迎来全新的校园生活, 并且在大学这个温床上休息并思考着接下来要做什么....</p>
                            <p><a href="#" class="read-more">Learn More</a></p>
                        </div> <!-- /.service-contents-->
                    </div> <!-- /.service -->
                </div>

                <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="service horizontal d-flex">
                        <div class="service-icon color-3 mb-4">
                            <svg class="bi bi-briefcase" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z"/>
                                <path fill-rule="evenodd"
                                      d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"/>
                            </svg>
                        </div> <!-- /.icon -->
                        <div class="service-contents">
                            <h3>不只线下生活</h3>
                            <p>学校的线上服务已经相当完善, 无论是订餐, 选课, 组织, 交流都可以在线上进行. 每一位学生的网络隐私将由学校进行保障.</p>
                            <p><a href="#" class="read-more">Learn More</a></p>
                        </div> <!-- /.service-contents-->
                    </div> <!-- /.service -->
                </div>

                <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="service horizontal d-flex">
                        <div class="service-icon color-4 mb-4">
                            <svg class="bi bi-collection" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                            </svg>
                        </div> <!-- /.icon -->
                        <div class="service-contents">
                            <h3>发现更多...</h3>
                            <p>需要你我随时间的流逝来判断....</p>
                            <p><a href="#" class="read-more">Learn More</a></p>
                        </div> <!-- /.service-contents-->
                    </div> <!-- /.service -->
                </div>
            </div> <!-- /.row -->

        </div> <!-- /.container -->
    </div> <!-- /.untree_co-section -->


    <div class="untree_co-section" id="features-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <span class="caption" data-aos="fade-up" data-aos-delay="0">长春大学旅游学院</span>
                    <h3 class="heading mb-4" data-aos="fade-up" data-aos-delay="100">A complete solution for your
                        business
                        website.</h3>
                    <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there
                            live the blind texts.</p>

                        <ul class="list-unstyled ul-check primary">
                            <li>There live the blind texts</li>
                            <li>Far far away behind the word</li>
                        </ul>
                    </div> <!-- /.mb-4 -->
                </div>
                <video controls="controls" muted="" loop="always"
                       src="https://www.tccu.edu.cn/_upload/article/videos/d2/90/3dff1fc04278a3a6f8c6ee857d9f/e2eda49c-d9fe-4e26-96ef-68a398ead776-B.mp4"
                       poster="" preload="true" width="600" height="400"><p>Your user agent does not support the HTML5
                    Video element.</p></video>
                {#                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="400">#}
                {#                    <a href="https://www.tccu.edu.cn/_upload/article/videos/d2/90/3dff1fc04278a3a6f8c6ee857d9f/e2eda49c-d9fe-4e26-96ef-68a398ead776-B.mp4"#}
                {#                       class="btn-video" data-fancybox>#}
                {##}
                {#            <span class="wrap-icon-play">#}
                {#              <svg class="bi bi-play-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"#}
                {#                   xmlns="http://www.w3.org/2000/svg">#}
                {#                <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>#}
                {#              </svg>#}
                {#            </span>#}
                {#                        <img src="images/dashboard.jpg" alt="Image" class="img-fluid img-shadow">#}
                {#                    </a>#}
                {#                </div> <!-- /.col-md-4 -->#}
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.untree_co-section -->
{% endblock %}
