{% extends 'front/base.html' %}

{% block head %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>个人中心</title>
    <script defer data-api="/stats/api/event" data-domain="preview.tabler.io"
            src="{{ url_for('static', filename='cms/stats/js/script.js') }}"></script>
    <meta name="msapplication-TileColor" content=""/>
    <meta name="theme-color" content=""/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <meta name="description"
          content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!"/>
    <meta name="twitter:image:src" content="https://preview.tabler.io/static/og.png">
    <meta name="twitter:site" content="@tabler_ui">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title"
          content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
    <meta name="twitter:description"
          content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
    <meta property="og:image" content="https://preview.tabler.io/static/og.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="640">
    <meta property="og:site_name" content="Tabler">
    <meta property="og:type" content="object">
    <meta property="og:title"
          content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
    <meta property="og:url" content="https://preview.tabler.io/static/og.png">
    <meta property="og:description"
          content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
    <!-- CSS files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='cms/dist/css/tabler.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='cms/dist/css/tabler-flags.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='cms/dist/css/tabler-payments.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='cms/dist/css/tabler-vendors.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='cms/dist/css/demo.css') }}" rel="stylesheet"/>
    <style>
        @import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div class="page">
        <div class="page-wrapper" style="margin-top: 3%;">
            <div class="page-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-auto">
                        <span class="avatar avatar-lg rounded"
                              style="background-image: url({{ url_for('user.show_image', filename=user.portrait) }})">
                        </span>
                        </div>
                        <div class="col">
                            <h1 class="fw-bold">{{ user.username }}</h1>
                            {% if user.signature_active %}
                                <div class="my-2">{{ user.signature }}</div>
                            {% else %}
                                <div class="my-2">--该用户已隐藏--</div>
                            {% endif %}

                            <div class="list-inline list-inline-dots text-secondary">
                                <div class="list-inline-item">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/map -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24"
                                         height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M3 7l6 -3l6 3l6 -3l0 13l-6 3l-6 -3l-6 3l0 -13"/>
                                        <path d="M9 4l0 13"/>
                                        <path d="M15 7l0 13"/>
                                    </svg>
                                    {% if user.location_active %}
                                        {{ user.location }}
                                    {% else %}
                                        未知位置
                                    {% endif %}

                                </div>
                                <a class="list-inline-item" href="#">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24"
                                         height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"/>
                                        <path d="M3 7l9 6l9 -6"/>
                                    </svg>
                                    <span class="text-reset">关注列表</span>

                                </a>
                                <a class="list-inline-item" href="#">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/cake -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24"
                                         height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z"/>
                                        <path d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197"/>
                                        <path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z"/>
                                    </svg>
                                    <span class="text-reset">粉丝列表</span>

                                </a>
                            </div>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="btn-list">
                                <a href="#" class="btn btn-icon" aria-label="Button">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/dots -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                                    </svg>
                                </a>
                                <a href="#" class="btn btn-icon" aria-label="Button">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/message -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M8 9h8"/>
                                        <path d="M8 13h6"/>
                                        <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"/>
                                    </svg>
                                </a>
                                {% if is_mine %}
                                    <a href="#" class="btn btn-primary" id="follow_error">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M13 19l-1 1l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 0 1 8 6"></path>
                                            <path d="M14 16h6"></path>
                                            <path d="M17 13v6"></path>
                                        </svg>
                                        关注
                                    </a>
                                    <script>
                                        $('#follow_error').click(function () {
                                            alert('不能关注自己！')
                                        })
                                    </script>
                                {% else %}
                                    {% if follow_active %}
                                        <a href="#" class="btn btn-primary" id="follow">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            已关注
                                        </a>

                                    {% else %}
                                        <a href="#" class="btn btn-primary" id="follow">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M5 12l5 5l10 -10"/>
                                            </svg>
                                            关注
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row g-3">
                        <div class="col">
                            <ul class="timeline">
                                {% with posts = user.posts %}
                                    {% for post in posts %}
                                        <li class="timeline-event">
                                            <div class="timeline-event-icon">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                     fill="none"
                                                     stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M5 12l5 5l10 -10"/>
                                                </svg>
                                            </div>
                                            <div class="card timeline-event-card">
                                                <div class="card-body">
                                                    <div class="text-secondary float-end"></div>
                                                    <a href="{{ url_for('post.post_detail', post_id=post.id) }}">
                                                        <h4>{{ post.title }}</h4>
                                                    </a>
                                                    <a class="text-secondary">{{ post.board.name }} | <a
                                                            href="{{ url_for('post.post_detail', post_id=post.id) }}">{{ post.content | truncate(25, True) }}</a>.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endwith %}
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <div class="row row-cards">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-title">用户信息</div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/book -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon me-2 text-secondary"
                                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/>
                                                    <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/>
                                                    <path d="M3 6l0 13"/>
                                                    <path d="M12 6l0 13"/>
                                                    <path d="M21 6l0 13"/>
                                                </svg>
                                                手机号: <strong>{{ user.phone }}</strong>
                                            </div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/briefcase -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon me-2 text-secondary"
                                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"/>
                                                    <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"/>
                                                    <path d="M12 12l0 .01"/>
                                                    <path d="M3 13a20 20 0 0 0 18 0"/>
                                                </svg>
                                                性别: <strong>{{ user.gender.value }}</strong>
                                            </div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon me-2 text-secondary"
                                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M5 12l-2 0l9 -9l9 9l-2 0"/>
                                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                                                </svg>
                                                家: <strong>
                                                {% if user.home_active %}
                                                    {{ user.home }}
                                                {% else %}
                                                    --用户已隐藏--
                                                {% endif %}
                                            </strong>
                                            </div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/map-pin -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon me-2 text-secondary"
                                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"/>
                                                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"/>
                                                </svg>
                                                位置: <strong>
                                                {% if user.location_active %}
                                                    {{ user.location }}
                                                {% else %}
                                                    --用户已隐藏--
                                                {% endif %}</strong>
                                            </div>
                                            <div class="mb-2">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon me-2 text-secondary"
                                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                                    <path d="M16 3v4"/>
                                                    <path d="M8 3v4"/>
                                                    <path d="M4 11h16"/>
                                                    <path d="M11 15h1"/>
                                                    <path d="M12 15v3"/>
                                                </svg>
                                                生日: <strong>{{ user.birthday }}</strong>
                                            </div>
                                            <div>
                                                <!-- Download SVG icon from http://tabler-icons.io/i/clock -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon me-2 text-secondary"
                                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"/>
                                                    <path d="M12 7v5l3 3"/>
                                                </svg>
                                                帖子数量: <strong>{{ user.posts | length }}</strong>
                                                {% if is_mine %}
                                                    <br><br><a href="{{ url_for('user.profile_edit') }}"
                                                               class="btn btn-primary">编辑</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h2 class="card-title">签名：</h2>
                                            <div>
                                                <p>{{ user.signature }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            let btn = document.getElementById("follow")
            let csrf_token = "{{ csrf_token() }}";
            $('#follow').click(function () {
                $.ajax({
                    url: '/user/follow',
                    type: 'POST',
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    data: {
                        'follow': "{{ user.id }}"
                    },
                    success: function () {
                        if (btn.textContent === '已关注') {
                            btn.textContent = '关注'
                        } else {
                            btn.textContent = '已关注'
                        }
                    },
                    error: function () {
                        console.log('发送失败！')
                        alert('关注失败！')
                    }
                })
            })
        })
    </script>
{% endblock %}