{% extends "front/base.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='js/zlajax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

{% block title %}
    注册界面
{% endblock %}

{% block body %}
    <div class="untree_co-login-register">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-5">
                    <div class="custom-box" data-aos="fade-up" data-aos-delay="0">
                        <h2 class="heading">Register</h2>
                        <form action="{{ url_for('user.register') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="form-field">
                                <label for="name">昵称</label>
                                <input type="text" class="form-control" id="name" name="username">
                            </div>
                            <div class="form-field">
                                <label for="email">邮箱</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="email">邮箱验证码</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="captcha" placeholder="验证码">
                                    <div class="input-group-append">
                                        <button id="captcha-btn" class="btn btn-outline-secondary">发送验证码</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <label for="password">密码</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-field">
                                <label for="repassword">再次输入密码</label>
                                <input type="password" class="form-control" id="repassword" name="repassword">
                            </div>
                            <div class="form-field">
                                <input type="submit" class="btn btn-primary btn-block" value="Register">
                            </div>
                        </form>
                        {% with messages = get_flashed_messages() %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}

{% endblock %}