<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(function (){
            let $box = $("#box")
            let p_ = $("#test")
            p_.remove()
        })
    </script>
</head>
<body>
<div id="box">
    <form action="{{ url_for('post.upload_image') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="title">标题
        <input type="text" name="content">内容
        <input type="text" name="board_id">板块id
        <input type="file" name="image">图片

        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>