<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>

    </script>
</head>
<body>
<div id="box">
    <a href="{{ url_for('test.test2') }}" id="click_me">awdawdaw</a>
    <p id="demo">None</p>
</div>
<script>
    $('#click_me').click(function (event){
        event.preventDefault()
        $.get('{{ url_for('test.test2') }}', function (data, status){
            console.log(data)
            console.log(status)
        })
    })
</script>
</body>
</html>